#indexBody {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

#columns-index {
}

.container {
    padding-top: 40px;
}

.column-container {
    display: table;
    vertical-align: middle;
    height: 100vh;
}

.column-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.columns-4 {
    background-color: rgba(225,225,225,0);    
}

#columns-index .columns-6 {
    position: relative;
}

#welcomeTitle {
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 2em;
    color: white;
}

#welcomeTitle h1 {
    margin: 0;
}

.columns-4 a {
    text-decoration: none;
}

.iconHome {
    width: 60%;
    margin: 1vw 20%;
}

.backgroundImage {
    background-image: url("../img/backgroundVideo.mp4");
    
}
