body {
    background-color: #eee;
    font-size: 20px;
    text-align: left;
}

.backgroundImage-6 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("../img/web-6.jpg");
    opacity: 0.2;
    z-index: 1;
}

.columns-3 {
    width: 30%;
    height: 300px;
    background-color: #c41425;
    text-align: center;
}

.HTML-demo {
    width: 30%;
    height: 300px;
    background-color: #c41425;
}

.CSS-demo {
    width: 30%;
    height: 300px;
    background-color: #c41425;
}

.Javascript-demo {
    width: 30%;
    height: 300px;
    background-color: #c41425;
}

.Programs {
    width: 47%;
    height: 300px;
    background-color: #c41425;
}

div > h1 {
    font-size: 40px;
}
