body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#navBar {
    width: 100vw;
    height: 60px;
    position: fixed;
    background-color: #c41425;
    z-index: 9999;
}

#navBar ul {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#navBar ul li {
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 40px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

#navBar ul li:hover {
    background-color: white;
    color: #c41425;
}

.container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding: 16px;
    padding-top: 80px;
    background-color: #eee;
}

.column-container {
    width: 100%;
}

.columns-row {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns-6 {
    width: 15%;
    height: 300px;
    background-color: blue;
}

.columns-3 {
    width: 30%;
    background-color: blue;
}

.columns-2 {
    width: 47%;
    height: 300px;
    background-color: blue;
}

p {
    padding: 0;
    margin: 0;
}

.backgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("../img/web.jpg");
    opacity: 0.2;
    z-index: 1;
}

@media only screen and (max-width: 1200px){
    .container{
        max-width: 960px;
        width: 960px;
    }
}

@media only screen and (max-width: 960px){
    .container{
        max-width: 100vw;
        width: 100vw;
    }
}

@media only screen and (max-width: 768px){
    #navBar {
        position: relative;
    }

    #navBar ul li {
        background-color: #c41425;
        width: 100%;
        display: block;
    }

    #navBar ul {
        margin: 0;
        padding: 0;
    }
}