body {
    padding: 0;
    margin: 0;
}

h1 {
    color: #1a1a1a;
    font-size: 3em;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

.blocks {
    width: 100vw;
    display: inline;
}

.block {
    width: 49.4vw;
    height: 100vh;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.block.blockLeft {
    background-color: #eee;
}

.block.blockRight {
    background-color: #1a1a1a;
}

.blockWrapper {
    float: left;
    margin: 10%;
}