body {
    background-color: #eee;
    font-size: 20px;
    text-align: left;
}

.container {
    background-color: unset;
}

.columns-1 {
    width: 100%;
    height: unset;
    background-color: #c41425;
}

.columns-3 {
    width: 30%;
    height: unset;
    text-align: center;
    background-color: #c41425;
}

.backgroundImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("../img/majors.jpg");
    opacity: 0.2;
    z-index: -1;
}